@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

html,
body,
.pixeleasier-container {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Permanent Marker", cursive;
}

body {
  animation: bolt 5s linear infinite;
}

@keyframes bolt {
  0%,
  54%,
  56%,
  65%,
  71%,
  100% {
    background-color: rgb(152, 144, 162);
  }
  50%,
  55%,
  70% {
    background-color: rgb(5, 3, 49);
  }
}

.title {
  position: absolute;
  top: 2rem;
  text-align: center;
  width: 100%;
  color: #fff;
}

.pixeleasier-container {
  display: flex;
}

.pixeleasier-draw {
  margin: auto;
  width: 160px;
  height: 248px;
  position: relative;
}

.pixeleasier-css {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: transparent 0px 0px 0px 0px, transparent 8px 0px 0px 0px,
    transparent 16px 0px 0px 0px, transparent 24px 0px 0px 0px,
    transparent 32px 0px 0px 0px, transparent 40px 0px 0px 0px,
    rgb(5, 3, 49) 48px 0px 0px 0px, rgb(5, 3, 49) 56px 0px 0px 0px,
    rgb(5, 3, 49) 64px 0px 0px 0px, rgb(5, 3, 49) 72px 0px 0px 0px,
    rgb(5, 3, 49) 80px 0px 0px 0px, transparent 88px 0px 0px 0px,
    transparent 96px 0px 0px 0px, transparent 104px 0px 0px 0px,
    transparent 112px 0px 0px 0px, transparent 120px 0px 0px 0px,
    transparent 128px 0px 0px 0px, transparent 136px 0px 0px 0px,
    transparent 144px 0px 0px 0px, transparent 152px 0px 0px 0px,
    transparent 0px 8px 0px 0px, transparent 8px 8px 0px 0px,
    transparent 16px 8px 0px 0px, transparent 24px 8px 0px 0px,
    transparent 32px 8px 0px 0px, rgb(5, 3, 49) 40px 8px 0px 0px,
    rgb(243, 255, 254) 48px 8px 0px 0px, rgb(243, 255, 254) 56px 8px 0px 0px,
    rgb(243, 255, 254) 64px 8px 0px 0px, rgb(243, 255, 254) 72px 8px 0px 0px,
    rgb(114, 103, 134) 80px 8px 0px 0px, rgb(5, 3, 49) 88px 8px 0px 0px,
    transparent 96px 8px 0px 0px, transparent 104px 8px 0px 0px,
    transparent 112px 8px 0px 0px, transparent 120px 8px 0px 0px,
    transparent 128px 8px 0px 0px, transparent 136px 8px 0px 0px,
    transparent 144px 8px 0px 0px, transparent 152px 8px 0px 0px,
    transparent 0px 16px 0px 0px, transparent 8px 16px 0px 0px,
    transparent 16px 16px 0px 0px, transparent 24px 16px 0px 0px,
    rgb(5, 3, 49) 32px 16px 0px 0px, rgb(243, 255, 254) 40px 16px 0px 0px,
    rgb(243, 255, 254) 48px 16px 0px 0px, rgb(114, 103, 134) 56px 16px 0px 0px,
    rgb(114, 103, 134) 64px 16px 0px 0px, rgb(114, 103, 134) 72px 16px 0px 0px,
    rgb(67, 48, 95) 80px 16px 0px 0px, rgb(114, 103, 134) 88px 16px 0px 0px,
    rgb(5, 3, 49) 96px 16px 0px 0px, transparent 104px 16px 0px 0px,
    transparent 112px 16px 0px 0px, transparent 120px 16px 0px 0px,
    transparent 128px 16px 0px 0px, transparent 136px 16px 0px 0px,
    transparent 144px 16px 0px 0px, transparent 152px 16px 0px 0px,
    transparent 0px 24px 0px 0px, transparent 8px 24px 0px 0px,
    transparent 16px 24px 0px 0px, transparent 24px 24px 0px 0px,
    rgb(5, 3, 49) 32px 24px 0px 0px, rgb(243, 255, 254) 40px 24px 0px 0px,
    rgb(114, 103, 134) 48px 24px 0px 0px, rgb(114, 103, 134) 56px 24px 0px 0px,
    rgb(67, 48, 95) 64px 24px 0px 0px, rgb(67, 48, 95) 72px 24px 0px 0px,
    rgb(67, 48, 95) 80px 24px 0px 0px, rgb(114, 103, 134) 88px 24px 0px 0px,
    rgb(5, 3, 49) 96px 24px 0px 0px, transparent 104px 24px 0px 0px,
    transparent 112px 24px 0px 0px, transparent 120px 24px 0px 0px,
    transparent 128px 24px 0px 0px, transparent 136px 24px 0px 0px,
    transparent 144px 24px 0px 0px, transparent 152px 24px 0px 0px,
    transparent 0px 32px 0px 0px, transparent 8px 32px 0px 0px,
    transparent 16px 32px 0px 0px, transparent 24px 32px 0px 0px,
    rgb(5, 3, 49) 32px 32px 0px 0px, rgb(243, 255, 254) 40px 32px 0px 0px,
    rgb(114, 103, 134) 48px 32px 0px 0px, rgb(67, 48, 95) 56px 32px 0px 0px,
    rgb(67, 48, 95) 64px 32px 0px 0px, rgb(67, 48, 95) 72px 32px 0px 0px,
    rgb(67, 48, 95) 80px 32px 0px 0px, rgb(114, 103, 134) 88px 32px 0px 0px,
    rgb(5, 3, 49) 96px 32px 0px 0px, transparent 104px 32px 0px 0px,
    transparent 112px 32px 0px 0px, transparent 120px 32px 0px 0px,
    transparent 128px 32px 0px 0px, transparent 136px 32px 0px 0px,
    transparent 144px 32px 0px 0px, transparent 152px 32px 0px 0px,
    transparent 0px 40px 0px 0px, transparent 8px 40px 0px 0px,
    transparent 16px 40px 0px 0px, transparent 24px 40px 0px 0px,
    rgb(5, 3, 49) 32px 40px 0px 0px, rgb(114, 103, 134) 40px 40px 0px 0px,
    rgb(114, 103, 134) 48px 40px 0px 0px, rgb(114, 103, 134) 56px 40px 0px 0px,
    rgb(114, 103, 134) 64px 40px 0px 0px, rgb(114, 103, 134) 72px 40px 0px 0px,
    rgb(67, 48, 95) 80px 40px 0px 0px, rgb(114, 103, 134) 88px 40px 0px 0px,
    rgb(5, 3, 49) 96px 40px 0px 0px, rgb(5, 3, 49) 104px 40px 0px 0px,
    transparent 112px 40px 0px 0px, transparent 120px 40px 0px 0px,
    transparent 128px 40px 0px 0px, transparent 136px 40px 0px 0px,
    transparent 144px 40px 0px 0px, transparent 152px 40px 0px 0px,
    transparent 0px 48px 0px 0px, transparent 8px 48px 0px 0px,
    transparent 16px 48px 0px 0px, rgb(5, 3, 49) 24px 48px 0px 0px,
    rgb(114, 103, 134) 32px 48px 0px 0px, rgb(243, 255, 254) 40px 48px 0px 0px,
    rgb(67, 48, 95) 48px 48px 0px 0px, rgb(5, 3, 49) 56px 48px 0px 0px,
    rgb(243, 255, 254) 64px 48px 0px 0px, rgb(5, 3, 49) 72px 48px 0px 0px,
    rgb(67, 48, 95) 80px 48px 0px 0px, rgb(67, 48, 95) 88px 48px 0px 0px,
    rgb(114, 103, 134) 96px 48px 0px 0px, rgb(5, 3, 49) 104px 48px 0px 0px,
    transparent 112px 48px 0px 0px, transparent 120px 48px 0px 0px,
    transparent 128px 48px 0px 0px, transparent 136px 48px 0px 0px,
    transparent 144px 48px 0px 0px, transparent 152px 48px 0px 0px,
    transparent 0px 56px 0px 0px, transparent 8px 56px 0px 0px,
    transparent 16px 56px 0px 0px, rgb(5, 3, 49) 24px 56px 0px 0px,
    rgb(67, 48, 95) 32px 56px 0px 0px, rgb(67, 48, 95) 40px 56px 0px 0px,
    rgb(243, 255, 254) 48px 56px 0px 0px, rgb(5, 3, 49) 56px 56px 0px 0px,
    rgb(5, 3, 49) 64px 56px 0px 0px, rgb(5, 3, 49) 72px 56px 0px 0px,
    rgb(5, 3, 49) 80px 56px 0px 0px, rgb(67, 48, 95) 88px 56px 0px 0px,
    rgb(114, 103, 134) 96px 56px 0px 0px, rgb(5, 3, 49) 104px 56px 0px 0px,
    transparent 112px 56px 0px 0px, transparent 120px 56px 0px 0px,
    transparent 128px 56px 0px 0px, transparent 136px 56px 0px 0px,
    transparent 144px 56px 0px 0px, transparent 152px 56px 0px 0px,
    transparent 0px 64px 0px 0px, transparent 8px 64px 0px 0px,
    transparent 16px 64px 0px 0px, rgb(5, 3, 49) 24px 64px 0px 0px,
    rgb(67, 48, 95) 32px 64px 0px 0px, rgb(114, 103, 134) 40px 64px 0px 0px,
    rgb(243, 255, 254) 48px 64px 0px 0px, rgb(114, 103, 134) 56px 64px 0px 0px,
    rgb(67, 48, 95) 64px 64px 0px 0px, rgb(5, 3, 49) 72px 64px 0px 0px,
    rgb(5, 3, 49) 80px 64px 0px 0px, rgb(67, 48, 95) 88px 64px 0px 0px,
    rgb(114, 103, 134) 96px 64px 0px 0px, rgb(114, 103, 134) 104px 64px 0px 0px,
    rgb(5, 3, 49) 112px 64px 0px 0px, transparent 120px 64px 0px 0px,
    transparent 128px 64px 0px 0px, transparent 136px 64px 0px 0px,
    transparent 144px 64px 0px 0px, transparent 152px 64px 0px 0px,
    transparent 0px 72px 0px 0px, transparent 8px 72px 0px 0px,
    transparent 16px 72px 0px 0px, rgb(5, 3, 49) 24px 72px 0px 0px,
    rgb(243, 255, 254) 32px 72px 0px 0px, rgb(114, 103, 134) 40px 72px 0px 0px,
    rgb(243, 255, 254) 48px 72px 0px 0px, rgb(114, 103, 134) 56px 72px 0px 0px,
    rgb(243, 255, 254) 64px 72px 0px 0px, rgb(67, 48, 95) 72px 72px 0px 0px,
    rgb(5, 3, 49) 80px 72px 0px 0px, rgb(67, 48, 95) 88px 72px 0px 0px,
    rgb(67, 48, 95) 96px 72px 0px 0px, rgb(114, 103, 134) 104px 72px 0px 0px,
    rgb(5, 3, 49) 112px 72px 0px 0px, transparent 120px 72px 0px 0px,
    transparent 128px 72px 0px 0px, transparent 136px 72px 0px 0px,
    transparent 144px 72px 0px 0px, transparent 152px 72px 0px 0px,
    transparent 0px 80px 0px 0px, transparent 8px 80px 0px 0px,
    transparent 16px 80px 0px 0px, transparent 24px 80px 0px 0px,
    rgb(5, 3, 49) 32px 80px 0px 0px, rgb(5, 3, 49) 40px 80px 0px 0px,
    rgb(5, 3, 49) 48px 80px 0px 0px, rgb(5, 3, 49) 56px 80px 0px 0px,
    rgb(5, 3, 49) 64px 80px 0px 0px, rgb(5, 3, 49) 72px 80px 0px 0px,
    rgb(5, 3, 49) 80px 80px 0px 0px, rgb(67, 48, 95) 88px 80px 0px 0px,
    rgb(67, 48, 95) 96px 80px 0px 0px, rgb(114, 103, 134) 104px 80px 0px 0px,
    rgb(5, 3, 49) 112px 80px 0px 0px, transparent 120px 80px 0px 0px,
    transparent 128px 80px 0px 0px, transparent 136px 80px 0px 0px,
    transparent 144px 80px 0px 0px, transparent 152px 80px 0px 0px,
    transparent 0px 88px 0px 0px, transparent 8px 88px 0px 0px,
    transparent 16px 88px 0px 0px, transparent 24px 88px 0px 0px,
    rgb(5, 3, 49) 32px 88px 0px 0px, rgb(5, 3, 49) 40px 88px 0px 0px,
    rgb(5, 3, 49) 48px 88px 0px 0px, rgb(5, 3, 49) 56px 88px 0px 0px,
    rgb(5, 3, 49) 64px 88px 0px 0px, rgb(5, 3, 49) 72px 88px 0px 0px,
    rgb(5, 3, 49) 80px 88px 0px 0px, rgb(5, 3, 49) 88px 88px 0px 0px,
    rgb(5, 3, 49) 96px 88px 0px 0px, rgb(5, 3, 49) 104px 88px 0px 0px,
    rgb(5, 3, 49) 112px 88px 0px 0px, transparent 120px 88px 0px 0px,
    transparent 128px 88px 0px 0px, transparent 136px 88px 0px 0px,
    transparent 144px 88px 0px 0px, transparent 152px 88px 0px 0px,
    transparent 0px 96px 0px 0px, transparent 8px 96px 0px 0px,
    transparent 16px 96px 0px 0px, rgb(5, 3, 49) 24px 96px 0px 0px,
    rgb(5, 3, 49) 32px 96px 0px 0px, rgb(114, 103, 134) 40px 96px 0px 0px,
    rgb(67, 48, 95) 48px 96px 0px 0px, rgb(114, 103, 134) 56px 96px 0px 0px,
    rgb(67, 48, 95) 64px 96px 0px 0px, rgb(114, 103, 134) 72px 96px 0px 0px,
    rgb(67, 48, 95) 80px 96px 0px 0px, rgb(114, 103, 134) 88px 96px 0px 0px,
    rgb(67, 48, 95) 96px 96px 0px 0px, rgb(67, 48, 95) 104px 96px 0px 0px,
    rgb(5, 3, 49) 112px 96px 0px 0px, rgb(5, 3, 49) 120px 96px 0px 0px,
    transparent 128px 96px 0px 0px, transparent 136px 96px 0px 0px,
    transparent 144px 96px 0px 0px, transparent 152px 96px 0px 0px,
    transparent 0px 104px 0px 0px, transparent 8px 104px 0px 0px,
    rgb(5, 3, 49) 16px 104px 0px 0px, rgb(5, 3, 49) 24px 104px 0px 0px,
    rgb(67, 48, 95) 32px 104px 0px 0px, rgb(243, 255, 254) 40px 104px 0px 0px,
    rgb(67, 48, 95) 48px 104px 0px 0px, rgb(243, 255, 254) 56px 104px 0px 0px,
    rgb(67, 48, 95) 64px 104px 0px 0px, rgb(243, 255, 254) 72px 104px 0px 0px,
    rgb(67, 48, 95) 80px 104px 0px 0px, rgb(114, 103, 134) 88px 104px 0px 0px,
    rgb(114, 103, 134) 96px 104px 0px 0px, rgb(67, 48, 95) 104px 104px 0px 0px,
    rgb(67, 48, 95) 112px 104px 0px 0px, rgb(5, 3, 49) 120px 104px 0px 0px,
    transparent 128px 104px 0px 0px, transparent 136px 104px 0px 0px,
    transparent 144px 104px 0px 0px, transparent 152px 104px 0px 0px,
    transparent 0px 112px 0px 0px, transparent 8px 112px 0px 0px,
    rgb(5, 3, 49) 16px 112px 0px 0px, rgb(114, 103, 134) 24px 112px 0px 0px,
    rgb(114, 103, 134) 32px 112px 0px 0px, rgb(114, 103, 134) 40px 112px 0px 0px,
    rgb(67, 48, 95) 48px 112px 0px 0px, rgb(114, 103, 134) 56px 112px 0px 0px,
    rgb(67, 48, 95) 64px 112px 0px 0px, rgb(114, 103, 134) 72px 112px 0px 0px,
    rgb(67, 48, 95) 80px 112px 0px 0px, rgb(67, 48, 95) 88px 112px 0px 0px,
    rgb(114, 103, 134) 96px 112px 0px 0px, rgb(5, 3, 49) 104px 112px 0px 0px,
    rgb(67, 48, 95) 112px 112px 0px 0px, rgb(5, 3, 49) 120px 112px 0px 0px,
    transparent 128px 112px 0px 0px, transparent 136px 112px 0px 0px,
    transparent 144px 112px 0px 0px, transparent 152px 112px 0px 0px,
    transparent 0px 120px 0px 0px, transparent 8px 120px 0px 0px,
    rgb(5, 3, 49) 16px 120px 0px 0px, rgb(114, 103, 134) 24px 120px 0px 0px,
    rgb(114, 103, 134) 32px 120px 0px 0px, rgb(5, 3, 49) 40px 120px 0px 0px,
    rgb(5, 3, 49) 48px 120px 0px 0px, rgb(5, 3, 49) 56px 120px 0px 0px,
    rgb(5, 3, 49) 64px 120px 0px 0px, rgb(5, 3, 49) 72px 120px 0px 0px,
    rgb(5, 3, 49) 80px 120px 0px 0px, rgb(67, 48, 95) 88px 120px 0px 0px,
    rgb(114, 103, 134) 96px 120px 0px 0px,
    rgb(114, 103, 134) 104px 120px 0px 0px, rgb(5, 3, 49) 112px 120px 0px 0px,
    rgb(67, 48, 95) 120px 120px 0px 0px, rgb(5, 3, 49) 128px 120px 0px 0px,
    transparent 136px 120px 0px 0px, transparent 144px 120px 0px 0px,
    transparent 152px 120px 0px 0px, transparent 0px 128px 0px 0px,
    rgb(5, 3, 49) 8px 128px 0px 0px, rgb(5, 3, 49) 16px 128px 0px 0px,
    rgb(114, 103, 134) 24px 128px 0px 0px, rgb(67, 48, 95) 32px 128px 0px 0px,
    rgb(5, 3, 49) 40px 128px 0px 0px, rgb(243, 255, 254) 48px 128px 0px 0px,
    rgb(114, 103, 134) 56px 128px 0px 0px, rgb(243, 255, 254) 64px 128px 0px 0px,
    rgb(114, 103, 134) 72px 128px 0px 0px, rgb(5, 3, 49) 80px 128px 0px 0px,
    rgb(5, 3, 49) 88px 128px 0px 0px, rgb(67, 48, 95) 96px 128px 0px 0px,
    rgb(114, 103, 134) 104px 128px 0px 0px, rgb(5, 3, 49) 112px 128px 0px 0px,
    rgb(67, 48, 95) 120px 128px 0px 0px, rgb(5, 3, 49) 128px 128px 0px 0px,
    transparent 136px 128px 0px 0px, transparent 144px 128px 0px 0px,
    transparent 152px 128px 0px 0px, transparent 0px 136px 0px 0px,
    rgb(5, 3, 49) 8px 136px 0px 0px, rgb(5, 3, 49) 16px 136px 0px 0px,
    rgb(114, 103, 134) 24px 136px 0px 0px, rgb(67, 48, 95) 32px 136px 0px 0px,
    rgb(5, 3, 49) 40px 136px 0px 0px, rgb(243, 255, 254) 48px 136px 0px 0px,
    rgb(114, 103, 134) 56px 136px 0px 0px, rgb(5, 3, 49) 64px 136px 0px 0px,
    rgb(243, 255, 254) 72px 136px 0px 0px, rgb(5, 3, 49) 80px 136px 0px 0px,
    rgb(5, 3, 49) 88px 136px 0px 0px, rgb(67, 48, 95) 96px 136px 0px 0px,
    rgb(114, 103, 134) 104px 136px 0px 0px, rgb(5, 3, 49) 112px 136px 0px 0px,
    rgb(67, 48, 95) 120px 136px 0px 0px, rgb(5, 3, 49) 128px 136px 0px 0px,
    transparent 136px 136px 0px 0px, transparent 144px 136px 0px 0px,
    transparent 152px 136px 0px 0px, transparent 0px 144px 0px 0px,
    rgb(5, 3, 49) 8px 144px 0px 0px, rgb(114, 103, 134) 16px 144px 0px 0px,
    rgb(114, 103, 134) 24px 144px 0px 0px, rgb(67, 48, 95) 32px 144px 0px 0px,
    rgb(5, 3, 49) 40px 144px 0px 0px, rgb(243, 255, 254) 48px 144px 0px 0px,
    rgb(5, 3, 49) 56px 144px 0px 0px, rgb(5, 3, 49) 64px 144px 0px 0px,
    rgb(243, 255, 254) 72px 144px 0px 0px, rgb(5, 3, 49) 80px 144px 0px 0px,
    rgb(5, 3, 49) 88px 144px 0px 0px, rgb(67, 48, 95) 96px 144px 0px 0px,
    rgb(114, 103, 134) 104px 144px 0px 0px,
    rgb(114, 103, 134) 112px 144px 0px 0px, rgb(5, 3, 49) 120px 144px 0px 0px,
    rgb(67, 48, 95) 128px 144px 0px 0px, rgb(5, 3, 49) 136px 144px 0px 0px,
    transparent 144px 144px 0px 0px, transparent 152px 144px 0px 0px,
    rgb(67, 48, 95) 0px 152px 0px 0px, rgb(5, 3, 49) 8px 152px 0px 0px,
    rgb(114, 103, 134) 16px 152px 0px 0px, rgb(114, 103, 134) 24px 152px 0px 0px,
    rgb(114, 103, 134) 32px 152px 0px 0px, rgb(114, 103, 134) 40px 152px 0px 0px,
    rgb(243, 255, 254) 48px 152px 0px 0px, rgb(243, 255, 254) 56px 152px 0px 0px,
    rgb(243, 255, 254) 64px 152px 0px 0px, rgb(243, 255, 254) 72px 152px 0px 0px,
    rgb(5, 3, 49) 80px 152px 0px 0px, rgb(114, 103, 134) 88px 152px 0px 0px,
    rgb(114, 103, 134) 96px 152px 0px 0px,
    rgb(114, 103, 134) 104px 152px 0px 0px,
    rgb(114, 103, 134) 112px 152px 0px 0px, rgb(5, 3, 49) 120px 152px 0px 0px,
    rgb(67, 48, 95) 128px 152px 0px 0px, rgb(5, 3, 49) 136px 152px 0px 0px,
    transparent 144px 152px 0px 0px, transparent 152px 152px 0px 0px,
    rgb(5, 3, 49) 0px 160px 0px 0px, rgb(5, 3, 49) 8px 160px 0px 0px,
    rgb(114, 103, 134) 16px 160px 0px 0px, rgb(114, 103, 134) 24px 160px 0px 0px,
    rgb(5, 3, 49) 32px 160px 0px 0px, rgb(114, 103, 134) 40px 160px 0px 0px,
    rgb(5, 3, 49) 48px 160px 0px 0px, rgb(5, 3, 49) 56px 160px 0px 0px,
    rgb(5, 3, 49) 64px 160px 0px 0px, rgb(5, 3, 49) 72px 160px 0px 0px,
    rgb(5, 3, 49) 80px 160px 0px 0px, rgb(114, 103, 134) 88px 160px 0px 0px,
    rgb(5, 3, 49) 96px 160px 0px 0px, rgb(114, 103, 134) 104px 160px 0px 0px,
    rgb(114, 103, 134) 112px 160px 0px 0px, rgb(5, 3, 49) 120px 160px 0px 0px,
    rgb(67, 48, 95) 128px 160px 0px 0px, rgb(5, 3, 49) 136px 160px 0px 0px,
    rgb(5, 3, 49) 144px 160px 0px 0px, transparent 152px 160px 0px 0px,
    rgb(5, 3, 49) 0px 168px 0px 0px, rgb(5, 3, 49) 8px 168px 0px 0px,
    rgb(114, 103, 134) 16px 168px 0px 0px, rgb(114, 103, 134) 24px 168px 0px 0px,
    rgb(5, 3, 49) 32px 168px 0px 0px, rgb(5, 3, 49) 40px 168px 0px 0px,
    rgb(67, 48, 95) 48px 168px 0px 0px, rgb(114, 103, 134) 56px 168px 0px 0px,
    rgb(114, 103, 134) 64px 168px 0px 0px, rgb(114, 103, 134) 72px 168px 0px 0px,
    rgb(67, 48, 95) 80px 168px 0px 0px, rgb(5, 3, 49) 88px 168px 0px 0px,
    rgb(5, 3, 49) 96px 168px 0px 0px, rgb(114, 103, 134) 104px 168px 0px 0px,
    rgb(114, 103, 134) 112px 168px 0px 0px, rgb(5, 3, 49) 120px 168px 0px 0px,
    rgb(5, 3, 49) 128px 168px 0px 0px, rgb(67, 48, 95) 136px 168px 0px 0px,
    rgb(5, 3, 49) 144px 168px 0px 0px, transparent 152px 168px 0px 0px,
    rgb(5, 3, 49) 0px 176px 0px 0px, rgb(5, 3, 49) 8px 176px 0px 0px,
    rgb(5, 3, 49) 16px 176px 0px 0px, rgb(5, 3, 49) 24px 176px 0px 0px,
    rgb(5, 3, 49) 32px 176px 0px 0px, rgb(67, 48, 95) 40px 176px 0px 0px,
    rgb(114, 103, 134) 48px 176px 0px 0px, rgb(5, 3, 49) 56px 176px 0px 0px,
    rgb(5, 3, 49) 64px 176px 0px 0px, rgb(5, 3, 49) 72px 176px 0px 0px,
    rgb(114, 103, 134) 80px 176px 0px 0px, rgb(67, 48, 95) 88px 176px 0px 0px,
    rgb(5, 3, 49) 96px 176px 0px 0px, rgb(5, 3, 49) 104px 176px 0px 0px,
    rgb(5, 3, 49) 112px 176px 0px 0px, rgb(5, 3, 49) 120px 176px 0px 0px,
    rgb(5, 3, 49) 128px 176px 0px 0px, rgb(67, 48, 95) 136px 176px 0px 0px,
    rgb(5, 3, 49) 144px 176px 0px 0px, transparent 152px 176px 0px 0px,
    transparent 0px 184px 0px 0px, rgb(5, 3, 49) 8px 184px 0px 0px,
    rgb(5, 3, 49) 16px 184px 0px 0px, rgb(5, 3, 49) 24px 184px 0px 0px,
    rgb(5, 3, 49) 32px 184px 0px 0px, rgb(67, 48, 95) 40px 184px 0px 0px,
    rgb(114, 103, 134) 48px 184px 0px 0px, rgb(5, 3, 49) 56px 184px 0px 0px,
    rgb(5, 3, 49) 64px 184px 0px 0px, rgb(5, 3, 49) 72px 184px 0px 0px,
    rgb(114, 103, 134) 80px 184px 0px 0px, rgb(67, 48, 95) 88px 184px 0px 0px,
    rgb(5, 3, 49) 96px 184px 0px 0px, rgb(5, 3, 49) 104px 184px 0px 0px,
    rgb(5, 3, 49) 112px 184px 0px 0px, rgb(5, 3, 49) 120px 184px 0px 0px,
    rgb(5, 3, 49) 128px 184px 0px 0px, rgb(67, 48, 95) 136px 184px 0px 0px,
    rgb(5, 3, 49) 144px 184px 0px 0px, transparent 152px 184px 0px 0px,
    transparent 0px 192px 0px 0px, rgb(5, 3, 49) 8px 192px 0px 0px,
    rgb(5, 3, 49) 16px 192px 0px 0px, rgb(5, 3, 49) 24px 192px 0px 0px,
    rgb(5, 3, 49) 32px 192px 0px 0px, rgb(67, 48, 95) 40px 192px 0px 0px,
    rgb(114, 103, 134) 48px 192px 0px 0px, rgb(5, 3, 49) 56px 192px 0px 0px,
    rgb(5, 3, 49) 64px 192px 0px 0px, rgb(5, 3, 49) 72px 192px 0px 0px,
    rgb(114, 103, 134) 80px 192px 0px 0px, rgb(67, 48, 95) 88px 192px 0px 0px,
    rgb(5, 3, 49) 96px 192px 0px 0px, rgb(5, 3, 49) 104px 192px 0px 0px,
    rgb(5, 3, 49) 112px 192px 0px 0px, rgb(5, 3, 49) 120px 192px 0px 0px,
    rgb(5, 3, 49) 128px 192px 0px 0px, rgb(67, 48, 95) 136px 192px 0px 0px,
    rgb(5, 3, 49) 144px 192px 0px 0px, rgb(5, 3, 49) 152px 192px 0px 0px,
    transparent 0px 200px 0px 0px, transparent 8px 200px 0px 0px,
    rgb(5, 3, 49) 16px 200px 0px 0px, rgb(5, 3, 49) 24px 200px 0px 0px,
    rgb(5, 3, 49) 32px 200px 0px 0px, rgb(114, 103, 134) 40px 200px 0px 0px,
    rgb(114, 103, 134) 48px 200px 0px 0px, rgb(5, 3, 49) 56px 200px 0px 0px,
    rgb(5, 3, 49) 64px 200px 0px 0px, rgb(5, 3, 49) 72px 200px 0px 0px,
    rgb(114, 103, 134) 80px 200px 0px 0px, rgb(114, 103, 134) 88px 200px 0px 0px,
    rgb(5, 3, 49) 96px 200px 0px 0px, rgb(5, 3, 49) 104px 200px 0px 0px,
    rgb(5, 3, 49) 112px 200px 0px 0px, rgb(5, 3, 49) 120px 200px 0px 0px,
    rgb(5, 3, 49) 128px 200px 0px 0px, rgb(67, 48, 95) 136px 200px 0px 0px,
    rgb(5, 3, 49) 144px 200px 0px 0px, rgb(5, 3, 49) 152px 200px 0px 0px,
    transparent 0px 208px 0px 0px, transparent 8px 208px 0px 0px,
    transparent 16px 208px 0px 0px, transparent 24px 208px 0px 0px,
    rgb(5, 3, 49) 32px 208px 0px 0px, rgb(114, 103, 134) 40px 208px 0px 0px,
    rgb(114, 103, 134) 48px 208px 0px 0px, rgb(5, 3, 49) 56px 208px 0px 0px,
    transparent 64px 208px 0px 0px, rgb(5, 3, 49) 72px 208px 0px 0px,
    rgb(114, 103, 134) 80px 208px 0px 0px, rgb(114, 103, 134) 88px 208px 0px 0px,
    rgb(5, 3, 49) 96px 208px 0px 0px, transparent 104px 208px 0px 0px,
    transparent 112px 208px 0px 0px, transparent 120px 208px 0px 0px,
    transparent 128px 208px 0px 0px, transparent 136px 208px 0px 0px,
    transparent 144px 208px 0px 0px, transparent 152px 208px 0px 0px,
    transparent 0px 216px 0px 0px, transparent 8px 216px 0px 0px,
    transparent 16px 216px 0px 0px, transparent 24px 216px 0px 0px,
    rgb(5, 3, 49) 32px 216px 0px 0px, rgb(67, 48, 95) 40px 216px 0px 0px,
    rgb(114, 103, 134) 48px 216px 0px 0px, rgb(5, 3, 49) 56px 216px 0px 0px,
    transparent 64px 216px 0px 0px, rgb(5, 3, 49) 72px 216px 0px 0px,
    rgb(114, 103, 134) 80px 216px 0px 0px, rgb(67, 48, 95) 88px 216px 0px 0px,
    rgb(5, 3, 49) 96px 216px 0px 0px, transparent 104px 216px 0px 0px,
    transparent 112px 216px 0px 0px, transparent 120px 216px 0px 0px,
    transparent 128px 216px 0px 0px, transparent 136px 216px 0px 0px,
    transparent 144px 216px 0px 0px, transparent 152px 216px 0px 0px,
    transparent 0px 224px 0px 0px, transparent 8px 224px 0px 0px,
    transparent 16px 224px 0px 0px, rgb(5, 3, 49) 24px 224px 0px 0px,
    rgb(5, 3, 49) 32px 224px 0px 0px, rgb(67, 48, 95) 40px 224px 0px 0px,
    rgb(114, 103, 134) 48px 224px 0px 0px, rgb(5, 3, 49) 56px 224px 0px 0px,
    transparent 64px 224px 0px 0px, rgb(5, 3, 49) 72px 224px 0px 0px,
    rgb(114, 103, 134) 80px 224px 0px 0px, rgb(67, 48, 95) 88px 224px 0px 0px,
    rgb(5, 3, 49) 96px 224px 0px 0px, transparent 104px 224px 0px 0px,
    transparent 112px 224px 0px 0px, transparent 120px 224px 0px 0px,
    transparent 128px 224px 0px 0px, transparent 136px 224px 0px 0px,
    transparent 144px 224px 0px 0px, transparent 152px 224px 0px 0px,
    transparent 0px 232px 0px 0px, transparent 8px 232px 0px 0px,
    transparent 16px 232px 0px 0px, rgb(5, 3, 49) 24px 232px 0px 0px,
    rgb(114, 103, 134) 32px 232px 0px 0px, rgb(114, 103, 134) 40px 232px 0px 0px,
    rgb(114, 103, 134) 48px 232px 0px 0px, rgb(5, 3, 49) 56px 232px 0px 0px,
    transparent 64px 232px 0px 0px, rgb(5, 3, 49) 72px 232px 0px 0px,
    rgb(114, 103, 134) 80px 232px 0px 0px, rgb(114, 103, 134) 88px 232px 0px 0px,
    rgb(114, 103, 134) 96px 232px 0px 0px, rgb(5, 3, 49) 104px 232px 0px 0px,
    transparent 112px 232px 0px 0px, transparent 120px 232px 0px 0px,
    transparent 128px 232px 0px 0px, transparent 136px 232px 0px 0px,
    transparent 144px 232px 0px 0px, transparent 152px 232px 0px 0px,
    transparent 0px 240px 0px 0px, transparent 8px 240px 0px 0px,
    transparent 16px 240px 0px 0px, rgb(5, 3, 49) 24px 240px 0px 0px,
    rgb(5, 3, 49) 32px 240px 0px 0px, rgb(5, 3, 49) 40px 240px 0px 0px,
    rgb(5, 3, 49) 48px 240px 0px 0px, rgb(5, 3, 49) 56px 240px 0px 0px,
    rgb(67, 48, 95) 64px 240px 0px 0px, rgb(5, 3, 49) 72px 240px 0px 0px,
    rgb(5, 3, 49) 80px 240px 0px 0px, rgb(5, 3, 49) 88px 240px 0px 0px,
    rgb(5, 3, 49) 96px 240px 0px 0px, rgb(5, 3, 49) 104px 240px 0px 0px,
    rgb(67, 48, 95) 112px 240px 0px 0px, rgb(67, 48, 95) 120px 240px 0px 0px,
    rgb(67, 48, 95) 128px 240px 0px 0px, rgb(114, 103, 134) 136px 240px 0px 0px,
    rgb(114, 103, 134) 144px 240px 0px 0px, transparent 152px 240px 0px 0px;
}
