html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #9ba2a5;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  width: 85px;
  height: 290px;
}

.steve {
  width: 5px;
  height: 5px;
  box-shadow: 5px 0px 0 0 #9ba2a5, 10px 0px 0 0 #9ba2a5, 15px 0px 0 0 #9ba2a5,
    20px 0px 0 0 #9ba2a5, 25px 0px 0 0 #9ba2a5, 30px 0px 0 0 #9ba2a5,
    35px 0px 0 0 #9ba2a5, 40px 0px 0 0 #9ba2a5, 45px 0px 0 0 #564d40,
    50px 0px 0 0 #7a7063, 55px 0px 0 0 #7a7063, 60px 0px 0 0 #564d40,
    65px 0px 0 0 #7a7063, 70px 0px 0 0 #9ba2a5, 75px 0px 0 0 #9ba2a5,
    80px 0px 0 0 #9ba2a5, 85px 0px 0 0 #9ba2a5, 5px 5px 0 0 #9ba2a5,
    10px 5px 0 0 #9ba2a5, 15px 5px 0 0 #9ba2a5, 20px 5px 0 0 #9ba2a5,
    25px 5px 0 0 #9ba2a5, 30px 5px 0 0 #9ba2a5, 35px 5px 0 0 #9ba2a5,
    40px 5px 0 0 #564d40, 45px 5px 0 0 #564d40, 50px 5px 0 0 #cc9f64,
    55px 5px 0 0 #d9b78a, 60px 5px 0 0 #d9b78a, 65px 5px 0 0 #d9b78a,
    70px 5px 0 0 #9ba2a5, 75px 5px 0 0 #9ba2a5, 80px 5px 0 0 #9ba2a5,
    85px 5px 0 0 #9ba2a5, 5px 10px 0 0 #9ba2a5, 10px 10px 0 0 #9ba2a5,
    15px 10px 0 0 #9ba2a5, 20px 10px 0 0 #9ba2a5, 25px 10px 0 0 #9ba2a5,
    30px 10px 0 0 #9ba2a5, 35px 10px 0 0 #9ba2a5, 40px 10px 0 0 #564d40,
    45px 10px 0 0 #564d40, 50px 10px 0 0 #cc9f64, 55px 10px 0 0 #d9b78a,
    60px 10px 0 0 #d9b78a, 65px 10px 0 0 #d9b78a, 70px 10px 0 0 #9ba2a5,
    75px 10px 0 0 #9ba2a5, 80px 10px 0 0 #9ba2a5, 85px 10px 0 0 #9ba2a5,
    5px 15px 0 0 #9ba2a5, 10px 15px 0 0 #9ba2a5, 15px 15px 0 0 #9ba2a5,
    20px 15px 0 0 #9ba2a5, 25px 15px 0 0 #9ba2a5, 30px 15px 0 0 #9ba2a5,
    35px 15px 0 0 #9ba2a5, 40px 15px 0 0 #564d40, 45px 15px 0 0 #cc9f64,
    50px 15px 0 0 #cc9f64, 55px 15px 0 0 #d9b78a, 60px 15px 0 0 #d9b78a,
    65px 15px 0 0 #d9b78a, 70px 15px 0 0 #9ba2a5, 75px 15px 0 0 #9ba2a5,
    80px 15px 0 0 #9ba2a5, 85px 15px 0 0 #9ba2a5, 5px 20px 0 0 #9ba2a5,
    10px 20px 0 0 #9ba2a5, 15px 20px 0 0 #9ba2a5, 20px 20px 0 0 #9ba2a5,
    25px 20px 0 0 #9ba2a5, 30px 20px 0 0 #9ba2a5, 35px 20px 0 0 #9ba2a5,
    40px 20px 0 0 #564d40, 45px 20px 0 0 #cc9f64, 50px 20px 0 0 #000000,
    55px 20px 0 0 #d9b78a, 60px 20px 0 0 #d9b78a, 65px 20px 0 0 #d9b78a,
    70px 20px 0 0 #000000, 75px 20px 0 0 #9ba2a5, 80px 20px 0 0 #9ba2a5,
    85px 20px 0 0 #9ba2a5, 5px 25px 0 0 #9ba2a5, 10px 25px 0 0 #9ba2a5,
    15px 25px 0 0 #9ba2a5, 20px 25px 0 0 #9ba2a5, 25px 25px 0 0 #9ba2a5,
    30px 25px 0 0 #9ba2a5, 35px 25px 0 0 #9ba2a5, 40px 25px 0 0 #564d40,
    45px 25px 0 0 #000000, 50px 25px 0 0 #cc9f64, 55px 25px 0 0 #000000,
    60px 25px 0 0 #d9b78a, 65px 25px 0 0 #000000, 70px 25px 0 0 #9ba2a5,
    75px 25px 0 0 #000000, 80px 25px 0 0 #9ba2a5, 85px 25px 0 0 #9ba2a5,
    5px 30px 0 0 #9ba2a5, 10px 30px 0 0 #9ba2a5, 15px 30px 0 0 #9ba2a5,
    20px 30px 0 0 #9ba2a5, 25px 30px 0 0 #9ba2a5, 30px 30px 0 0 #9ba2a5,
    35px 30px 0 0 #cc9f64, 40px 30px 0 0 #7a7063, 45px 30px 0 0 #cc9f64,
    50px 30px 0 0 #000000, 55px 30px 0 0 #d9b78a, 60px 30px 0 0 #d9b78a,
    65px 30px 0 0 #d9b78a, 70px 30px 0 0 #000000, 75px 30px 0 0 #9ba2a5,
    80px 30px 0 0 #9ba2a5, 85px 30px 0 0 #9ba2a5, 5px 35px 0 0 #9ba2a5,
    10px 35px 0 0 #9ba2a5, 15px 35px 0 0 #9ba2a5, 20px 35px 0 0 #9ba2a5,
    25px 35px 0 0 #9ba2a5, 30px 35px 0 0 #9ba2a5, 35px 35px 0 0 #cc9f64,
    40px 35px 0 0 #cc9f64, 45px 35px 0 0 #564d40, 50px 35px 0 0 #d9b78a,
    55px 35px 0 0 #d9b78a, 60px 35px 0 0 #cc9f64, 65px 35px 0 0 #d9b78a,
    70px 35px 0 0 #9ba2a5, 75px 35px 0 0 #9ba2a5, 80px 35px 0 0 #9ba2a5,
    85px 35px 0 0 #9ba2a5, 5px 40px 0 0 #9ba2a5, 10px 40px 0 0 #9ba2a5,
    15px 40px 0 0 #9ba2a5, 20px 40px 0 0 #9ba2a5, 25px 40px 0 0 #9ba2a5,
    30px 40px 0 0 #9ba2a5, 35px 40px 0 0 #9ba2a5, 40px 40px 0 0 #cc9f64,
    45px 40px 0 0 #564d40, 50px 40px 0 0 #d9b78a, 55px 40px 0 0 #7a7063,
    60px 40px 0 0 #7a7063, 65px 40px 0 0 #7a7063, 70px 40px 0 0 #9ba2a5,
    75px 40px 0 0 #9ba2a5, 80px 40px 0 0 #9ba2a5, 85px 40px 0 0 #9ba2a5,
    5px 45px 0 0 #9ba2a5, 10px 45px 0 0 #9ba2a5, 15px 45px 0 0 #9ba2a5,
    20px 45px 0 0 #9ba2a5, 25px 45px 0 0 #9ba2a5, 30px 45px 0 0 #9ba2a5,
    35px 45px 0 0 #9ba2a5, 40px 45px 0 0 #cc9f64, 45px 45px 0 0 #564d40,
    50px 45px 0 0 #564d40, 55px 45px 0 0 #d9b78a, 60px 45px 0 0 #d9b78a,
    65px 45px 0 0 #d9b78a, 70px 45px 0 0 #9ba2a5, 75px 45px 0 0 #9ba2a5,
    80px 45px 0 0 #9ba2a5, 85px 45px 0 0 #9ba2a5, 5px 50px 0 0 #9ba2a5,
    10px 50px 0 0 #9ba2a5, 15px 50px 0 0 #9ba2a5, 20px 50px 0 0 #9ba2a5,
    25px 50px 0 0 #9ba2a5, 30px 50px 0 0 #9ba2a5, 35px 50px 0 0 #9ba2a5,
    40px 50px 0 0 #cc9f64, 45px 50px 0 0 #564d40, 50px 50px 0 0 #564d40,
    55px 50px 0 0 #7a7063, 60px 50px 0 0 #7a7063, 65px 50px 0 0 #7a7063,
    70px 50px 0 0 #9ba2a5, 75px 50px 0 0 #9ba2a5, 80px 50px 0 0 #9ba2a5,
    85px 50px 0 0 #9ba2a5, 5px 55px 0 0 #9ba2a5, 10px 55px 0 0 #9ba2a5,
    15px 55px 0 0 #9ba2a5, 20px 55px 0 0 #9ba2a5, 25px 55px 0 0 #9ba2a5,
    30px 55px 0 0 #9ba2a5, 35px 55px 0 0 #9ba2a5, 40px 55px 0 0 black,
    45px 55px 0 0 black, 50px 55px 0 0 black, 55px 55px 0 0 #9ba2a5,
    60px 55px 0 0 #9ba2a5, 65px 55px 0 0 #9ba2a5, 70px 55px 0 0 #9ba2a5,
    75px 55px 0 0 #9ba2a5, 80px 55px 0 0 #9ba2a5, 85px 55px 0 0 #9ba2a5,
    5px 60px 0 0 #9ba2a5, 10px 60px 0 0 #9ba2a5, 15px 60px 0 0 #9ba2a5,
    20px 60px 0 0 #9ba2a5, 25px 60px 0 0 #9ba2a5, 30px 60px 0 0 #9ba2a5,
    35px 60px 0 0 #9ba2a5, 40px 60px 0 0 black, 45px 60px 0 0 #272726,
    50px 60px 0 0 #272726, 55px 60px 0 0 #9ba2a5, 60px 60px 0 0 #9ba2a5,
    65px 60px 0 0 #9ba2a5, 70px 60px 0 0 #9ba2a5, 75px 60px 0 0 #9ba2a5,
    80px 60px 0 0 #9ba2a5, 85px 60px 0 0 #9ba2a5, 5px 65px 0 0 #9ba2a5,
    10px 65px 0 0 #9ba2a5, 15px 65px 0 0 #9ba2a5, 20px 65px 0 0 black,
    25px 65px 0 0 black, 30px 65px 0 0 black, 35px 65px 0 0 black,
    40px 65px 0 0 #272726, 45px 65px 0 0 #272726, 50px 65px 0 0 #272726,
    55px 65px 0 0 #272726, 60px 65px 0 0 #272726, 65px 65px 0 0 #272726,
    70px 65px 0 0 #9ba2a5, 75px 65px 0 0 #9ba2a5, 80px 65px 0 0 #9ba2a5,
    85px 65px 0 0 #9ba2a5, 5px 70px 0 0 #9ba2a5, 10px 70px 0 0 #9ba2a5,
    15px 70px 0 0 #9ba2a5, 20px 70px 0 0 black, 25px 70px 0 0 #272726,
    30px 70px 0 0 #272726, 35px 70px 0 0 #272726, 40px 70px 0 0 #272726,
    45px 70px 0 0 #272726, 50px 70px 0 0 #272726, 55px 70px 0 0 #272726,
    60px 70px 0 0 #272726, 65px 70px 0 0 #272726, 70px 70px 0 0 #9ba2a5,
    75px 70px 0 0 #9ba2a5, 80px 70px 0 0 #9ba2a5, 85px 70px 0 0 #9ba2a5,
    5px 75px 0 0 #9ba2a5, 10px 75px 0 0 #9ba2a5, 15px 75px 0 0 #9ba2a5,
    20px 75px 0 0 black, 25px 75px 0 0 #272726, 30px 75px 0 0 #272726,
    35px 75px 0 0 #272726, 40px 75px 0 0 #272726, 45px 75px 0 0 #272726,
    50px 75px 0 0 #272726, 55px 75px 0 0 #272726, 60px 75px 0 0 #272726,
    65px 75px 0 0 #272726, 70px 75px 0 0 #9ba2a5, 75px 75px 0 0 #9ba2a5,
    80px 75px 0 0 #9ba2a5, 85px 75px 0 0 #9ba2a5, 5px 80px 0 0 #9ba2a5,
    10px 80px 0 0 #9ba2a5, 15px 80px 0 0 black, 20px 80px 0 0 #272726,
    25px 80px 0 0 #272726, 30px 80px 0 0 #272726, 35px 80px 0 0 #272726,
    40px 80px 0 0 #272726, 45px 80px 0 0 #272726, 50px 80px 0 0 #272726,
    55px 80px 0 0 #272726, 60px 80px 0 0 #272726, 65px 80px 0 0 #272726,
    70px 80px 0 0 #9ba2a5, 75px 80px 0 0 #9ba2a5, 80px 80px 0 0 #9ba2a5,
    85px 80px 0 0 #9ba2a5, 5px 85px 0 0 #9ba2a5, 10px 85px 0 0 #9ba2a5,
    15px 85px 0 0 black, 20px 85px 0 0 #272726, 25px 85px 0 0 #272726,
    30px 85px 0 0 #272726, 35px 85px 0 0 #272726, 40px 85px 0 0 #272726,
    45px 85px 0 0 #272726, 50px 85px 0 0 #272726, 55px 85px 0 0 #272726,
    60px 85px 0 0 #272726, 65px 85px 0 0 #272726, 70px 85px 0 0 #9ba2a5,
    75px 85px 0 0 #9ba2a5, 80px 85px 0 0 #9ba2a5, 85px 85px 0 0 #9ba2a5,
    5px 90px 0 0 #9ba2a5, 10px 90px 0 0 #9ba2a5, 15px 90px 0 0 black,
    20px 90px 0 0 #272726, 25px 90px 0 0 black, 30px 90px 0 0 #272726,
    35px 90px 0 0 #272726, 40px 90px 0 0 #272726, 45px 90px 0 0 #272726,
    50px 90px 0 0 #272726, 55px 90px 0 0 #272726, 60px 90px 0 0 #272726,
    65px 90px 0 0 #272726, 70px 90px 0 0 #9ba2a5, 75px 90px 0 0 #9ba2a5,
    80px 90px 0 0 #9ba2a5, 85px 90px 0 0 #9ba2a5, 5px 95px 0 0 #9ba2a5,
    10px 95px 0 0 black, 15px 95px 0 0 #272726, 20px 95px 0 0 #272726,
    25px 95px 0 0 #9ba2a5, 30px 95px 0 0 black, 35px 95px 0 0 #272726,
    40px 95px 0 0 #272726, 45px 95px 0 0 #272726, 50px 95px 0 0 #272726,
    55px 95px 0 0 #272726, 60px 95px 0 0 #272726, 65px 95px 0 0 #272726,
    70px 95px 0 0 #9ba2a5, 75px 95px 0 0 #9ba2a5, 80px 95px 0 0 #9ba2a5,
    85px 95px 0 0 #9ba2a5, 5px 100px 0 0 #9ba2a5, 10px 100px 0 0 black,
    15px 100px 0 0 #272726, 20px 100px 0 0 #272726, 25px 100px 0 0 #9ba2a5,
    30px 100px 0 0 black, 35px 100px 0 0 #272726, 40px 100px 0 0 #272726,
    45px 100px 0 0 #272726, 50px 100px 0 0 #272726, 55px 100px 0 0 #272726,
    60px 100px 0 0 #272726, 65px 100px 0 0 #272726, 70px 100px 0 0 #9ba2a5,
    75px 100px 0 0 #9ba2a5, 80px 100px 0 0 #9ba2a5, 85px 100px 0 0 #9ba2a5,
    5px 105px 0 0 #9ba2a5, 10px 105px 0 0 black, 15px 105px 0 0 #272726,
    20px 105px 0 0 #272726, 25px 105px 0 0 #9ba2a5, 30px 105px 0 0 black,
    35px 105px 0 0 #272726, 40px 105px 0 0 #272726, 45px 105px 0 0 #272726,
    50px 105px 0 0 #272726, 55px 105px 0 0 #272726, 60px 105px 0 0 #272726,
    65px 105px 0 0 #272726, 70px 105px 0 0 #9ba2a5, 75px 105px 0 0 #9ba2a5,
    80px 105px 0 0 #9ba2a5, 85px 105px 0 0 #9ba2a5, 5px 110px 0 0 #9ba2a5,
    10px 110px 0 0 black, 15px 110px 0 0 #272726, 20px 110px 0 0 #272726,
    25px 110px 0 0 #9ba2a5, 30px 110px 0 0 black, 35px 110px 0 0 #272726,
    40px 110px 0 0 #272726, 45px 110px 0 0 #272726, 50px 110px 0 0 #272726,
    55px 110px 0 0 #272726, 60px 110px 0 0 #272726, 65px 110px 0 0 #272726,
    70px 110px 0 0 #9ba2a5, 75px 110px 0 0 #9ba2a5, 80px 110px 0 0 #9ba2a5,
    85px 110px 0 0 #9ba2a5, 5px 115px 0 0 #9ba2a5, 10px 115px 0 0 black,
    15px 115px 0 0 #272726, 20px 115px 0 0 #9ba2a5, 25px 115px 0 0 #9ba2a5,
    30px 115px 0 0 black, 35px 115px 0 0 black, 40px 115px 0 0 #272726,
    45px 115px 0 0 #272726, 50px 115px 0 0 #272726, 55px 115px 0 0 #272726,
    60px 115px 0 0 #272726, 65px 115px 0 0 #272726, 70px 115px 0 0 black,
    75px 115px 0 0 #9ba2a5, 80px 115px 0 0 #9ba2a5, 85px 115px 0 0 #9ba2a5,
    5px 120px 0 0 #9ba2a5, 10px 120px 0 0 black, 15px 120px 0 0 black,
    20px 120px 0 0 #9ba2a5, 25px 120px 0 0 #9ba2a5, 30px 120px 0 0 black,
    35px 120px 0 0 black, 40px 120px 0 0 #272726, 45px 120px 0 0 #272726,
    50px 120px 0 0 #272726, 55px 120px 0 0 #272726, 60px 120px 0 0 #272726,
    65px 120px 0 0 #272726, 70px 120px 0 0 black, 75px 120px 0 0 #9ba2a5,
    80px 120px 0 0 #9ba2a5, 85px 120px 0 0 #9ba2a5, 5px 125px 0 0 black,
    10px 125px 0 0 #272726, 15px 125px 0 0 #272726, 20px 125px 0 0 #9ba2a5,
    25px 125px 0 0 #9ba2a5, 30px 125px 0 0 black, 35px 125px 0 0 black,
    40px 125px 0 0 #272726, 45px 125px 0 0 #272726, 50px 125px 0 0 #272726,
    55px 125px 0 0 #272726, 60px 125px 0 0 #272726, 65px 125px 0 0 #272726,
    70px 125px 0 0 black, 75px 125px 0 0 #272726, 80px 125px 0 0 #9ba2a5,
    85px 125px 0 0 #9ba2a5, 5px 130px 0 0 #9ba2a5, 10px 130px 0 0 black,
    15px 130px 0 0 black, 20px 130px 0 0 #9ba2a5, 25px 130px 0 0 #9ba2a5,
    30px 130px 0 0 black, 35px 130px 0 0 black, 40px 130px 0 0 black,
    45px 130px 0 0 #272726, 50px 130px 0 0 #272726, 55px 130px 0 0 #272726,
    60px 130px 0 0 #272726, 65px 130px 0 0 #272726, 70px 130px 0 0 black,
    75px 130px 0 0 #9ba2a5, 80px 130px 0 0 #9ba2a5, 85px 130px 0 0 #9ba2a5,
    5px 135px 0 0 black, 10px 135px 0 0 #272726, 15px 135px 0 0 #272726,
    20px 135px 0 0 #9ba2a5, 25px 135px 0 0 #9ba2a5, 30px 135px 0 0 black,
    35px 135px 0 0 #272726, 40px 135px 0 0 #272726, 45px 135px 0 0 black,
    50px 135px 0 0 black, 55px 135px 0 0 #272726, 60px 135px 0 0 #272726,
    65px 135px 0 0 #272726, 70px 135px 0 0 black, 75px 135px 0 0 #272726,
    80px 135px 0 0 #9ba2a5, 85px 135px 0 0 #9ba2a5, 5px 140px 0 0 black,
    10px 140px 0 0 black, 15px 140px 0 0 black, 20px 140px 0 0 #9ba2a5,
    25px 140px 0 0 #9ba2a5, 30px 140px 0 0 black, 35px 140px 0 0 black,
    40px 140px 0 0 #272726, 45px 140px 0 0 #272726, 50px 140px 0 0 #272726,
    55px 140px 0 0 #272726, 60px 140px 0 0 #272726, 65px 140px 0 0 #272726,
    70px 140px 0 0 black, 75px 140px 0 0 #272726, 80px 140px 0 0 #9ba2a5,
    85px 140px 0 0 #9ba2a5, 5px 145px 0 0 #9ba2a5, 10px 145px 0 0 #cc9f64,
    15px 145px 0 0 #cc9f64, 20px 145px 0 0 #9ba2a5, 25px 145px 0 0 #9ba2a5,
    30px 145px 0 0 #2a4356, 35px 145px 0 0 #2a4356, 40px 145px 0 0 black,
    45px 145px 0 0 black, 50px 145px 0 0 black, 55px 145px 0 0 black,
    60px 145px 0 0 black, 65px 145px 0 0 #2a4356, 70px 145px 0 0 #cc9f64,
    75px 145px 0 0 #9ba2a5, 80px 145px 0 0 #9ba2a5, 85px 145px 0 0 #9ba2a5,
    5px 150px 0 0 #9ba2a5, 10px 150px 0 0 #cc9f64, 15px 150px 0 0 #d9b78a,
    20px 150px 0 0 #9ba2a5, 25px 150px 0 0 #9ba2a5, 30px 150px 0 0 #2a4356,
    35px 150px 0 0 #2a4356, 40px 150px 0 0 #2a4356, 45px 150px 0 0 #2a4356,
    50px 150px 0 0 #2a4356, 55px 150px 0 0 #2a4356, 60px 150px 0 0 #2a4356,
    65px 150px 0 0 #3b5e78, 70px 150px 0 0 #d9b78a, 75px 150px 0 0 #9ba2a5,
    80px 150px 0 0 #9ba2a5, 85px 150px 0 0 #9ba2a5, 5px 155px 0 0 #9ba2a5,
    10px 155px 0 0 #cc9f64, 15px 155px 0 0 #d9b78a, 20px 155px 0 0 #9ba2a5,
    25px 155px 0 0 #9ba2a5, 30px 155px 0 0 #2a4356, 35px 155px 0 0 #2a4356,
    40px 155px 0 0 #3b5e78, 45px 155px 0 0 #3b5e78, 50px 155px 0 0 #3b5e78,
    55px 155px 0 0 #3b5e78, 60px 155px 0 0 #3b5e78, 65px 155px 0 0 #3b5e78,
    70px 155px 0 0 #d9b78a, 75px 155px 0 0 #9ba2a5, 80px 155px 0 0 #9ba2a5,
    85px 155px 0 0 #9ba2a5, 5px 160px 0 0 #9ba2a5, 10px 160px 0 0 #cc9f64,
    15px 160px 0 0 #d9b78a, 20px 160px 0 0 #9ba2a5, 25px 160px 0 0 #9ba2a5,
    30px 160px 0 0 #2a4356, 35px 160px 0 0 #2a4356, 40px 160px 0 0 #3b5e78,
    45px 160px 0 0 #3b5e78, 50px 160px 0 0 #3b5e78, 55px 160px 0 0 #3b5e78,
    60px 160px 0 0 #3b5e78, 65px 160px 0 0 #3b5e78, 70px 160px 0 0 #d9b78a,
    75px 160px 0 0 #9ba2a5, 80px 160px 0 0 #9ba2a5, 85px 160px 0 0 #9ba2a5,
    5px 165px 0 0 #9ba2a5, 10px 165px 0 0 #cc9f64, 15px 165px 0 0 #d9b78a,
    20px 165px 0 0 #9ba2a5, 25px 165px 0 0 #9ba2a5, 30px 165px 0 0 #2a4356,
    35px 165px 0 0 #2a4356, 40px 165px 0 0 #3b5e78, 45px 165px 0 0 #3b5e78,
    50px 165px 0 0 #3b5e78, 55px 165px 0 0 #3b5e78, 60px 165px 0 0 #3b5e78,
    65px 165px 0 0 #3b5e78, 70px 165px 0 0 #d9b78a, 75px 165px 0 0 #9ba2a5,
    80px 165px 0 0 #9ba2a5, 85px 165px 0 0 #9ba2a5, 5px 170px 0 0 #9ba2a5,
    10px 170px 0 0 #9ba2a5, 15px 170px 0 0 #d9b78a, 20px 170px 0 0 #9ba2a5,
    25px 170px 0 0 #9ba2a5, 30px 170px 0 0 #2a4356, 35px 170px 0 0 #2a4356,
    40px 170px 0 0 #3b5e78, 45px 170px 0 0 #3b5e78, 50px 170px 0 0 #3b5e78,
    55px 170px 0 0 #3b5e78, 60px 170px 0 0 #3b5e78, 65px 170px 0 0 #3b5e78,
    70px 170px 0 0 #d9b78a, 75px 170px 0 0 #9ba2a5, 80px 170px 0 0 #9ba2a5,
    85px 170px 0 0 #9ba2a5, 5px 175px 0 0 #9ba2a5, 10px 175px 0 0 #9ba2a5,
    15px 175px 0 0 #d9b78a, 20px 175px 0 0 #9ba2a5, 25px 175px 0 0 #9ba2a5,
    30px 175px 0 0 #2a4356, 35px 175px 0 0 #2a4356, 40px 175px 0 0 #3b5e78,
    45px 175px 0 0 #3b5e78, 50px 175px 0 0 #3b5e78, 55px 175px 0 0 #3b5e78,
    60px 175px 0 0 #3b5e78, 65px 175px 0 0 #3b5e78, 70px 175px 0 0 #d9b78a,
    75px 175px 0 0 #9ba2a5, 80px 175px 0 0 #9ba2a5, 85px 175px 0 0 #9ba2a5,
    5px 180px 0 0 #9ba2a5, 10px 180px 0 0 #9ba2a5, 15px 180px 0 0 #d9b78a,
    20px 180px 0 0 #9ba2a5, 25px 180px 0 0 #9ba2a5, 30px 180px 0 0 #2a4356,
    35px 180px 0 0 #2a4356, 40px 180px 0 0 #3b5e78, 45px 180px 0 0 #3b5e78,
    50px 180px 0 0 #9ba2a5, 55px 180px 0 0 #2a4356, 60px 180px 0 0 #2a4356,
    65px 180px 0 0 #3b5e78, 70px 180px 0 0 #d9b78a, 75px 180px 0 0 #9ba2a5,
    80px 180px 0 0 #9ba2a5, 85px 180px 0 0 #9ba2a5, 5px 185px 0 0 #9ba2a5,
    10px 185px 0 0 #9ba2a5, 15px 185px 0 0 #d9b78a, 20px 185px 0 0 #9ba2a5,
    25px 185px 0 0 #9ba2a5, 30px 185px 0 0 #2a4356, 35px 185px 0 0 #2a4356,
    40px 185px 0 0 #3b5e78, 45px 185px 0 0 #3b5e78, 50px 185px 0 0 #9ba2a5,
    55px 185px 0 0 #2a4356, 60px 185px 0 0 #2a4356, 65px 185px 0 0 #3b5e78,
    70px 185px 0 0 #d9b78a, 75px 185px 0 0 #9ba2a5, 80px 185px 0 0 #9ba2a5,
    85px 185px 0 0 #9ba2a5, 5px 190px 0 0 #9ba2a5, 10px 190px 0 0 #9ba2a5,
    15px 190px 0 0 #d9b78a, 20px 190px 0 0 #9ba2a5, 25px 190px 0 0 #9ba2a5,
    30px 190px 0 0 #2a4356, 35px 190px 0 0 #2a4356, 40px 190px 0 0 #3b5e78,
    45px 190px 0 0 #3b5e78, 50px 190px 0 0 #9ba2a5, 55px 190px 0 0 #2a4356,
    60px 190px 0 0 #2a4356, 65px 190px 0 0 #3b5e78, 70px 190px 0 0 #d9b78a,
    75px 190px 0 0 #9ba2a5, 80px 190px 0 0 #9ba2a5, 85px 190px 0 0 #9ba2a5,
    5px 195px 0 0 #9ba2a5, 10px 195px 0 0 #9ba2a5, 15px 195px 0 0 #d9b78a,
    20px 195px 0 0 #d9b78a, 25px 195px 0 0 #d9b78a, 30px 195px 0 0 #2a4356,
    35px 195px 0 0 #2a4356, 40px 195px 0 0 #3b5e78, 45px 195px 0 0 #3b5e78,
    50px 195px 0 0 #9ba2a5, 55px 195px 0 0 #2a4356, 60px 195px 0 0 #2a4356,
    65px 195px 0 0 #3b5e78, 70px 195px 0 0 #d9b78a, 75px 195px 0 0 #9ba2a5,
    80px 195px 0 0 #9ba2a5, 85px 195px 0 0 #9ba2a5, 5px 200px 0 0 #9ba2a5,
    10px 200px 0 0 #9ba2a5, 15px 200px 0 0 #d9b78a, 20px 200px 0 0 #d9b78a,
    25px 200px 0 0 #9ba2a5, 30px 200px 0 0 #d9b78a, 35px 200px 0 0 #2a4356,
    40px 200px 0 0 #3b5e78, 45px 200px 0 0 #9ba2a5, 50px 200px 0 0 #9ba2a5,
    55px 200px 0 0 #2a4356, 60px 200px 0 0 #2a4356, 65px 200px 0 0 #3b5e78,
    70px 200px 0 0 #d9b78a, 75px 200px 0 0 #9ba2a5, 80px 200px 0 0 #9ba2a5,
    85px 200px 0 0 #9ba2a5, 5px 205px 0 0 #9ba2a5, 10px 205px 0 0 #9ba2a5,
    15px 205px 0 0 #cc9f64, 20px 205px 0 0 #d9b78a, 25px 205px 0 0 #9ba2a5,
    30px 205px 0 0 #2a4356, 35px 205px 0 0 #2a4356, 40px 205px 0 0 #3b5e78,
    45px 205px 0 0 #9ba2a5, 50px 205px 0 0 #9ba2a5, 55px 205px 0 0 #2a4356,
    60px 205px 0 0 #2a4356, 65px 205px 0 0 #3b5e78, 70px 205px 0 0 #d9b78a,
    75px 205px 0 0 #9ba2a5, 80px 205px 0 0 #9ba2a5, 85px 205px 0 0 #9ba2a5,
    5px 210px 0 0 #9ba2a5, 10px 210px 0 0 #9ba2a5, 15px 210px 0 0 #9ba2a5,
    20px 210px 0 0 #cc9f64, 25px 210px 0 0 #9ba2a5, 30px 210px 0 0 #2a4356,
    35px 210px 0 0 #2a4356, 40px 210px 0 0 #3b5e78, 45px 210px 0 0 #9ba2a5,
    50px 210px 0 0 #9ba2a5, 55px 210px 0 0 #2a4356, 60px 210px 0 0 #2a4356,
    65px 210px 0 0 #3b5e78, 70px 210px 0 0 #9ba2a5, 75px 210px 0 0 #9ba2a5,
    80px 210px 0 0 #9ba2a5, 85px 210px 0 0 #9ba2a5, 5px 215px 0 0 #9ba2a5,
    10px 215px 0 0 #9ba2a5, 15px 215px 0 0 #9ba2a5, 20px 215px 0 0 #9ba2a5,
    25px 215px 0 0 #d9b78a, 30px 215px 0 0 #2a4356, 35px 215px 0 0 #2a4356,
    40px 215px 0 0 #3b5e78, 45px 215px 0 0 #9ba2a5, 50px 215px 0 0 #9ba2a5,
    55px 215px 0 0 #2a4356, 60px 215px 0 0 #2a4356, 65px 215px 0 0 #3b5e78,
    70px 215px 0 0 #9ba2a5, 75px 215px 0 0 #9ba2a5, 80px 215px 0 0 #9ba2a5,
    85px 215px 0 0 #9ba2a5, 5px 220px 0 0 #9ba2a5, 10px 220px 0 0 #9ba2a5,
    15px 220px 0 0 #9ba2a5, 20px 220px 0 0 #9ba2a5, 25px 220px 0 0 #9ba2a5,
    30px 220px 0 0 #2a4356, 35px 220px 0 0 #2a4356, 40px 220px 0 0 #3b5e78,
    45px 220px 0 0 #9ba2a5, 50px 220px 0 0 #9ba2a5, 55px 220px 0 0 #2a4356,
    60px 220px 0 0 #2a4356, 65px 220px 0 0 #3b5e78, 70px 220px 0 0 #9ba2a5,
    75px 220px 0 0 #9ba2a5, 80px 220px 0 0 #9ba2a5, 85px 220px 0 0 #9ba2a5,
    5px 225px 0 0 #9ba2a5, 10px 225px 0 0 #9ba2a5, 15px 225px 0 0 #9ba2a5,
    20px 225px 0 0 #9ba2a5, 25px 225px 0 0 #9ba2a5, 30px 225px 0 0 #2a4356,
    35px 225px 0 0 #2a4356, 40px 225px 0 0 #3b5e78, 45px 225px 0 0 #9ba2a5,
    50px 225px 0 0 #9ba2a5, 55px 225px 0 0 #2a4356, 60px 225px 0 0 #2a4356,
    65px 225px 0 0 #3b5e78, 70px 225px 0 0 #9ba2a5, 75px 225px 0 0 #9ba2a5,
    80px 225px 0 0 #9ba2a5, 85px 225px 0 0 #9ba2a5, 5px 230px 0 0 #9ba2a5,
    10px 230px 0 0 #9ba2a5, 15px 230px 0 0 #9ba2a5, 20px 230px 0 0 #9ba2a5,
    25px 230px 0 0 #9ba2a5, 30px 230px 0 0 #2a4356, 35px 230px 0 0 #2a4356,
    40px 230px 0 0 #3b5e78, 45px 230px 0 0 #9ba2a5, 50px 230px 0 0 #9ba2a5,
    55px 230px 0 0 #2a4356, 60px 230px 0 0 #3b5e78, 65px 230px 0 0 #3b5e78,
    70px 230px 0 0 #9ba2a5, 75px 230px 0 0 #9ba2a5, 80px 230px 0 0 #9ba2a5,
    85px 230px 0 0 #9ba2a5, 5px 235px 0 0 #9ba2a5, 10px 235px 0 0 #9ba2a5,
    15px 235px 0 0 #9ba2a5, 20px 235px 0 0 #9ba2a5, 25px 235px 0 0 #9ba2a5,
    30px 235px 0 0 #2a4356, 35px 235px 0 0 #3b5e78, 40px 235px 0 0 #3b5e78,
    45px 235px 0 0 #9ba2a5, 50px 235px 0 0 #9ba2a5, 55px 235px 0 0 #2a4356,
    60px 235px 0 0 #3b5e78, 65px 235px 0 0 #3b5e78, 70px 235px 0 0 #9ba2a5,
    75px 235px 0 0 #9ba2a5, 80px 235px 0 0 #9ba2a5, 85px 235px 0 0 #9ba2a5,
    5px 240px 0 0 #9ba2a5, 10px 240px 0 0 #9ba2a5, 15px 240px 0 0 #9ba2a5,
    20px 240px 0 0 #9ba2a5, 25px 240px 0 0 #9ba2a5, 30px 240px 0 0 #2a4356,
    35px 240px 0 0 #2a4356, 40px 240px 0 0 #9ba2a5, 45px 240px 0 0 #9ba2a5,
    50px 240px 0 0 #9ba2a5, 55px 240px 0 0 #2a4356, 60px 240px 0 0 #2a4356,
    65px 240px 0 0 #9ba2a5, 70px 240px 0 0 #9ba2a5, 75px 240px 0 0 #9ba2a5,
    80px 240px 0 0 #9ba2a5, 85px 240px 0 0 #9ba2a5, 5px 245px 0 0 #9ba2a5,
    10px 245px 0 0 #9ba2a5, 15px 245px 0 0 #9ba2a5, 20px 245px 0 0 #9ba2a5,
    25px 245px 0 0 #9ba2a5, 30px 245px 0 0 #2a4356, 35px 245px 0 0 #2a4356,
    40px 245px 0 0 #9ba2a5, 45px 245px 0 0 #9ba2a5, 50px 245px 0 0 #9ba2a5,
    55px 245px 0 0 #2a4356, 60px 245px 0 0 #2a4356, 65px 245px 0 0 #9ba2a5,
    70px 245px 0 0 #9ba2a5, 75px 245px 0 0 #9ba2a5, 80px 245px 0 0 #9ba2a5,
    85px 245px 0 0 #9ba2a5, 5px 250px 0 0 #9ba2a5, 10px 250px 0 0 #9ba2a5,
    15px 250px 0 0 #9ba2a5, 20px 250px 0 0 #9ba2a5, 25px 250px 0 0 #9ba2a5,
    30px 250px 0 0 #2a4356, 35px 250px 0 0 #3b5e78, 40px 250px 0 0 #9ba2a5,
    45px 250px 0 0 #9ba2a5, 50px 250px 0 0 #9ba2a5, 55px 250px 0 0 #2a4356,
    60px 250px 0 0 #3b5e78, 65px 250px 0 0 #9ba2a5, 70px 250px 0 0 #9ba2a5,
    75px 250px 0 0 #9ba2a5, 80px 250px 0 0 #9ba2a5, 85px 250px 0 0 #9ba2a5,
    5px 255px 0 0 #9ba2a5, 10px 255px 0 0 #9ba2a5, 15px 255px 0 0 #9ba2a5,
    20px 255px 0 0 #9ba2a5, 25px 255px 0 0 #9ba2a5, 30px 255px 0 0 #2a4356,
    35px 255px 0 0 #3b5e78, 40px 255px 0 0 #9ba2a5, 45px 255px 0 0 #9ba2a5,
    50px 255px 0 0 #9ba2a5, 55px 255px 0 0 #2a4356, 60px 255px 0 0 #3b5e78,
    65px 255px 0 0 #9ba2a5, 70px 255px 0 0 #9ba2a5, 75px 255px 0 0 #9ba2a5,
    80px 255px 0 0 #9ba2a5, 85px 255px 0 0 #9ba2a5, 5px 260px 0 0 #9ba2a5,
    10px 260px 0 0 #9ba2a5, 15px 260px 0 0 #9ba2a5, 20px 260px 0 0 #9ba2a5,
    25px 260px 0 0 #9ba2a5, 30px 260px 0 0 #2a4356, 35px 260px 0 0 #3b5e78,
    40px 260px 0 0 #9ba2a5, 45px 260px 0 0 #9ba2a5, 50px 260px 0 0 #9ba2a5,
    55px 260px 0 0 #2a4356, 60px 260px 0 0 #3b5e78, 65px 260px 0 0 #9ba2a5,
    70px 260px 0 0 #9ba2a5, 75px 260px 0 0 #9ba2a5, 80px 260px 0 0 #9ba2a5,
    85px 260px 0 0 #9ba2a5, 5px 265px 0 0 #9ba2a5, 10px 265px 0 0 #9ba2a5,
    15px 265px 0 0 #9ba2a5, 20px 265px 0 0 #9ba2a5, 25px 265px 0 0 #9ba2a5,
    30px 265px 0 0 #2a4356, 35px 265px 0 0 #3b5e78, 40px 265px 0 0 #9ba2a5,
    45px 265px 0 0 #9ba2a5, 50px 265px 0 0 #9ba2a5, 55px 265px 0 0 #2a4356,
    60px 265px 0 0 #3b5e78, 65px 265px 0 0 #9ba2a5, 70px 265px 0 0 #9ba2a5,
    75px 265px 0 0 #9ba2a5, 80px 265px 0 0 #9ba2a5, 85px 265px 0 0 #9ba2a5,
    5px 270px 0 0 #9ba2a5, 10px 270px 0 0 #9ba2a5, 15px 270px 0 0 #9ba2a5,
    20px 270px 0 0 #9ba2a5, 25px 270px 0 0 #9ba2a5, 30px 270px 0 0 #2a4356,
    35px 270px 0 0 #3b5e78, 40px 270px 0 0 #9ba2a5, 45px 270px 0 0 #9ba2a5,
    50px 270px 0 0 #9ba2a5, 55px 270px 0 0 #2a4356, 60px 270px 0 0 #3b5e78,
    65px 270px 0 0 #9ba2a5, 70px 270px 0 0 #9ba2a5, 75px 270px 0 0 #9ba2a5,
    80px 270px 0 0 #9ba2a5, 85px 270px 0 0 #9ba2a5, 5px 275px 0 0 #9ba2a5,
    10px 275px 0 0 #9ba2a5, 15px 275px 0 0 #9ba2a5, 20px 275px 0 0 #9ba2a5,
    25px 275px 0 0 #9ba2a5, 30px 275px 0 0 #2a4356, 35px 275px 0 0 #3b5e78,
    40px 275px 0 0 #9ba2a5, 45px 275px 0 0 #9ba2a5, 50px 275px 0 0 #9ba2a5,
    55px 275px 0 0 #2a4356, 60px 275px 0 0 #3b5e78, 65px 275px 0 0 #9ba2a5,
    70px 275px 0 0 #9ba2a5, 75px 275px 0 0 #9ba2a5, 80px 275px 0 0 #9ba2a5,
    85px 275px 0 0 #9ba2a5, 5px 280px 0 0 #9ba2a5, 10px 280px 0 0 #9ba2a5,
    15px 280px 0 0 #9ba2a5, 20px 280px 0 0 rgba(0, 0, 0, 0.2),
    25px 280px 0 0 rgba(0, 0, 0, 0.2), 30px 280px 0 0 #272726,
    35px 280px 0 0 #272726, 40px 280px 0 0 rgba(0, 0, 0, 0.2),
    45px 280px 0 0 rgba(0, 0, 0, 0.2), 50px 280px 0 0 rgba(0, 0, 0, 0.2),
    55px 280px 0 0 #272726, 60px 280px 0 0 #272726, 65px 280px 0 0 #272726,
    70px 280px 0 0 rgba(0, 0, 0, 0.2), 75px 280px 0 0 rgba(0, 0, 0, 0.2),
    80px 280px 0 0 #9ba2a5, 85px 280px 0 0 #9ba2a5, 5px 285px 0 0 #9ba2a5,
    10px 285px 0 0 rgba(0, 0, 0, 0.2), 15px 285px 0 0 rgba(0, 0, 0, 0.2),
    20px 285px 0 0 rgba(0, 0, 0, 0.2), 25px 285px 0 0 rgba(0, 0, 0, 0.2),
    30px 285px 0 0 black, 35px 285px 0 0 black, 40px 285px 0 0 black,
    45px 285px 0 0 rgba(0, 0, 0, 0.2), 50px 285px 0 0 rgba(0, 0, 0, 0.2),
    55px 285px 0 0 black, 60px 285px 0 0 black, 65px 285px 0 0 black,
    70px 285px 0 0 black, 75px 285px 0 0 rgba(0, 0, 0, 0.2),
    80px 285px 0 0 rgba(0, 0, 0, 0.2), 85px 285px 0 0 rgba(0, 0, 0, 0.2),
    5px 290px 0 0 #9ba2a5, 10px 290px 0 0 #9ba2a5, 15px 290px 0 0 #9ba2a5,
    20px 290px 0 0 rgba(0, 0, 0, 0.2), 25px 290px 0 0 rgba(0, 0, 0, 0.2),
    30px 290px 0 0 rgba(0, 0, 0, 0.2), 35px 290px 0 0 rgba(0, 0, 0, 0.2),
    40px 290px 0 0 rgba(0, 0, 0, 0.2), 45px 290px 0 0 rgba(0, 0, 0, 0.2),
    50px 290px 0 0 rgba(0, 0, 0, 0.2), 55px 290px 0 0 rgba(0, 0, 0, 0.2),
    60px 290px 0 0 rgba(0, 0, 0, 0.2), 65px 290px 0 0 rgba(0, 0, 0, 0.2),
    70px 290px 0 0 rgba(0, 0, 0, 0.2), 75px 290px 0 0 rgba(0, 0, 0, 0.2),
    80px 290px 0 0 #9ba2a5, 85px 290px 0 0 #9ba2a5;
}
